@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

:root {
    --conEduc-laranja: #FF661A;
    --conEduc-laranja-claro: #FF9933;
    --conEduc-text: #FF661A; 
    --conEduc-bg: #fff;
}

* {
    font-family: 'Almarai', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #0066FF;
    padding: 10px;
    font-size: 24px;
    position: relative; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
}

body {
    margin: 0;
    background-color: #FFF5ED;
}

footer {
    background-color:rgb(122, 111, 111);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    flex-direction: row; 
    text-align: center;
    padding: 20px 0;
}

footer ul li a {
    display: inline-block; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    color: white; 
    text-decoration: none; 
}

footer ul li a:hover {
    background-color: rgb(100, 90, 90); 
    
}

footer ul {
    list-style: none;
}

footer ul li {
    margin: 8px 0;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #c8e6c9;
}

footer .lg-footer img {
    height: 100px;
    width: auto;
    object-fit: contain;
}

.paginas {
    width: 40%;
}

.paginas ul {
    text-align: left;
}
.lg-footer {
    width: 40%;
    text-align: center;
}

footer .iconFooter button {
    background-color: rgb(122, 111, 111);
    border: none; 
    color: white; 
    padding: 10px; 
    cursor: pointer; 
    border-radius: 50%; 
    margin: 5px; 
}

footer .iconFooter button:hover {
    background-color: rgb(100, 90, 90); 
}