body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #222222;
}

.container{
    min-height: 100vh;
}

header {
    background-color: #0066CC;
    height: 10vh;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

header .logo img {
    height: 12.5vh;
    width: auto;
}

header nav {
    display: flex;
    gap: 35px;
    justify-content: center;
}

.integrantes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.integrantes img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.integrantes div {
    text-align: center;
}

.logos {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.logos img {
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 8px;
}

.logos div {
    text-align: center;
}

.docentes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
}

.docentes img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.docentes div {
    text-align: center;
}

.tools{
    width: 100%;
}

.tools img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.right-tools {
    display: flex; 
    justify-content: flex-start;
    flex-direction: row; 
    gap: 40px;
}

.left-tools {
    display: flex; 
    justify-content: flex-end;
    flex-direction: row; 
    gap: 40px;
}


.paragrafo {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.integrantes, .tools img {
  opacity: 0;
  animation: fadeIn 1s linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

nav {
    overflow-x: auto;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    background-color: #d4d4d4;
    color: black;
    padding: 10px 15px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

header span {
    color: rgb(2, 2, 2);
    text-decoration: none;
    padding: 10px 0;
    transition: background-color 0.3s;
    border-radius: 5px;
}


.codigo {
    background-color: #e0e0e0;
    border: dashed 2px #999999;
    max-height: 65vh;
    overflow-y: auto;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
    margin-top: 20px;
}

.vscode {
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #007ACC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.vscode:hover {
    background-color: #005A9E;
}

pre {
    padding-left: 0;
    margin-left: 0;
}

.conteudo-principal{
    padding: 20px;
    height: auto;
}

.relative {
    position: relative;
    top: 1px;
    left: 1px;
}

main section{
    display: none;
}

ul li {
    list-style: none;
}
#overview {
    display: block;
}

.flex {
    display: flex;
    gap: 20px;
}